<header>
  <h1>30 DAYS OF TICKETS: A MONTH OF PHILA. PARKING VIOLATIONS</h1>
  <ul class="stat-list">
    <li>
      <div><span class="stat-name">Total Fines: </span><%="$" + @fines_total + "0" %></div>
    </li>
    <li>
      <div><span class="stat-name">Most Common Ticket: </span><%= @most_common_ticket %></div>
    </li>
    <li>
      <div><span class="stat-name">Most Expensive Ticket: </span><%= "$" + @biggest_fine.to_s + "0" %></div>
    </li>
    <li>
      <div><span class="stat-name">Average Ticket Price: </span><%= "$" + @average.round(2).to_s %></div>
    </li>
  </ul>
</header>
  <div id="panel">
    <div class="panel-titles">
      <div>Select a date</div>
      <div id="map-options-title">Map Options</div>
    </div>
    <ul class="panel-buttons">
      <li>
        June
      </li>
      <li>
        <span class="select-container">
          <%=form_tag("get_day", method: "post") do %>
            <%= select_tag("day", options_for_select(1..30, @day )) %>
        </span>
      </li>
      <li>
        2015
      </li>
      <li>
          <%= submit_tag("LOAD DAY") %>
          <% end %>
      </li>
      <span class="map-options">
        <li>
          <button id="drop" onclick="drop()">DROP MARKERS</button>
        </li>
        <li>
          <button onclick="clearMarkers()">HIDE MARKERS</button>
        </li>
        <li>
          <button onclick="toggleHeatmap()">TOGGLE HEATMAP</button>
        </li>
        <li>
          <button onclick="changeRadius()">HEATMAP RADIUS</button>
        </li>
      </span>
      <span id="about-link">
        <a href="home/about">About</a>
      </span>
    </ul>
  </div>
  <div id="map"></div>

  <script async defer
      src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=visualization&callback=initMap">
  </script>